@import url('http://fonts.cdnfonts.com/css/raleway-5');

* {
    font-family: 'Raleway', sans-serif;

}

.logo {
    height: 70px;
}




nav li :hover {
    border-left: 1px solid #1FAAF0;
    padding-left: 5px;
    color: #D1B538;
}

.leadingtext {
    font-weight: 900;
}

.leadingtext span {
    background-image: url('/images/8865999_25896-removebg-preview.png');
    background-size: cover;
}

.skillsClass {

    background-image: url('/images/codebg.png');
    background-size: cover;
    background-attachment: fixed;

}

.stackHeader {
    background-color: #d1b5389d;
    font-weight: bold;
}

.skillCard {
    position: relative;
    /* top: 60; */

}

.whyYpitch img {
    border-radius: 50%;
}

.skillCard img:hover {
    transition: transform 0.8s;
    transform: scale(1.1);
}